#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.header {
  padding: 10px;
  margin: auto;
  background-color: #B8001F;
  color: #ffff;
  text-decoration: none;
  font-weight: 900;
  font-size: 8rem;
  font-family: "Gowun Batang", serif;
  font-weight: 400;
  font-style: normal;
}
h2 {
  font-family: "Open Sans", sans-serif;
  padding-bottom: 5px;
}

#userlogin {
  border:#B8001F solid 2px;
  font-family: "Open Sans", sans-serif;
}
.search-container {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  justify-content: center;
  font-family: "Open Sans", sans-serif;
}
.topic-button {
  background-color: #B8001F;
  color: #ffff;
  margin: 10px;
  flex-grow: 1rem;
}

.card-container {
  margin: 5px;
  display: flex;
  flex-wrap: wrap;
}
.article-card {
  display: flex;
  padding: 1rem;
  margin: 1rem;
  align-content: center;
}

.footer {
  background-color: rgb(212, 209, 209);
  padding: 10px;
  text-align: left;
  font-family: "Open Sans", sans-serif;
}

.votes-and-likes {
  display: flex;
}

.fa-solid {
  padding: 5px;
}

.app {
  width: 100%;
  height: 100%;
}

.author-and-date {
  display: flex;
  font-weight: lighter;
}

.author-or-date {
  display: flex;
  padding: 10px;
  font-weight: lighter;
  text-align: center;
}

.article-container {
  border: solid 3px #B8001F;
  margin: 5px;
  display: flex;
  flex-wrap: wrap;
}

.article {
  flex-grow: 1;
  margin: 1rem;
  align-content: center;
  text-align: center;
  width: 18rem;
}
#article-img {
  width: 100%;
}

#article-body {
  margin-top: 10px;
  text-align: justify;
}

.topic {
  font-weight: bold;
}

#back-arrow {
  text-align: left;
}

.fa-sharp {
  color: black;
  background-color: rgb(186, 183, 183);
  margin: 5px;
}

#comments-header {
  margin: 15px;
}

.card-text {
  text-align: justify;
}

.card-header {
  text-align: justify;
  font-weight: bold;
}

#comment-date {
  font-weight: lighter;
}

p.topic.card-text {
  padding-top: 5px;
}

#article-votes-container {
  display: flex;
  justify-content: center;
}

.individual-comment-card {
  padding: 10px;
}

.card-title {
  text-align: left;
}

button {
  border: none;
  background-color: #ffff;
}

.comment-form-container {
  margin: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.form-container {
  padding: 1rem;
  margin: 1rem;
  justify-content: center;
}

#submit-comment-button {
  background-color: #B8001F;
  color: #ffff;
}

.submit-comment {
  margin: 5px;
  border: #B8001F 2px solid;
}

#comment-submit-confirmation {
  padding: 1rem;
}

#sign-in-button {
  background-color: #B8001F;
  color: #ffff;
  border-radius: 10%;
  margin-left: 10px;
}
.user-login-form {
  display: flex;
  margin: 10px;
}
#profile-pic {
  float: left;
  width: 3rem;
  border-radius: 100%;
  overflow: hidden;
}
#profile-user {
  margin-left: 10px;
  margin-top: 15px;
}

.user-login-container {
  display: flex;
  padding: 1rem;
  margin: 1rem;
}

.card-title {
  color: black
}

@media all and (max-width: 600px) {
  .article-card {
    margin: auto;
    padding: 0.2rem;
    padding-top: 0.5rem;
  }
}
